.libImage {
	width: 100%;
	height: auto;
	border-radius: 5%;
	cursor:pointer;
	border: 0.3vw;
	border-style: solid;
	border-color: black;
}

.libText {
	position:absolute;
}

.libContainer {
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.libContainer:hover{
	opacity: 0.7;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    cursor: pointer;
    width: 80%;
    max-width:80%
}

.selLib {
	margin-bottom: 1.5vw ;
	margin-top: 1.5vw;
	text-align: center;
	font-size: 2vw;
	color: black;
}

.occupancy{
	font-size: 1vw;
}

.QRbtn{
	margin: 0 auto;
	display: block;
	border: 1px;
	border-style: solid;
	border-color: black;
	max-width: 100%;
	font-size: 1.5vw;
	word-wrap: break-word;
}

.QRcam{
	margin: 0 auto;
	display: block;
}

.progBar{
	max-width: 100%;
}

