.floorBtns{
	cursor: pointer;
	display: inline-block;
}

.libName{
	margin-right: 10px;
	font-size: 2vw;
}

.child{
	display: inline-block;
}

.nowrap{
	width: 10%;
}

.libTitle{
	color: white !important;
	background-color: #080808 !important;
}

.mainLayout{
	background-color: rgba(0,0,0,0.3);
	padding-left: 0;
	padding-right: 0;
}

#display{
	padding-right: 0;
	padding-left: 0;
}

#sidebar{
	padding-left: 0;
	padding-right: 0;
}


