.taken{
	height: 20px;
	width: 20px;
	background-color: red;
	margin-right: 5px;
	border: 1px;
	border-style: solid;
	border-color: black;
}

.empty{
	height: 20px;
	width: 20px;
	background-color: green;
	margin-right: 5px;
	border: 1px;
	border-style: solid;
	border-color: black;
}

.tableMatch{
	height: 20px;
	width: 20px;
	background-color: #fff196;
	margin-right: 5px;
	border: 1px;
	border-style: solid;
	border-color: black;
}

.inline{
	display: inline-block;
}

.box{
	border: 1px;
	border-color: black;
	border-style: solid;
	padding: 10px;
	background-color: rgba(255,255,255,0.7);
}

.legendList{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.legend{
	margin-bottom: 10px;
}

.legendTitle{
	font-size: 2vw;
	margin-top: 0px;
}

.legendSub{
	font-size: 1vw;
	display: inline-block;
	position: relative;
	bottom: 5px;
}

input[type=checkbox]{
    vertical-align: middle;
    position: relative;
    bottom: 2px;
} 

.responsiveText{
	font-size: 1vw;
}